In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 10

In [2]:
raw_df = pd.read_csv('/Users/stanislav/Downloads/FE 2/rosbank_train.csv')
raw_df.head(5)
# target_sum - можно выкинуть, переменная участвует в другой задаче

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum
0,01/10/2017,0,5200,NaN,810,21OCT17:00:00:00,5023.0,POS,0,0.0
1,01/10/2017,0,6011,NaN,810,12OCT17:12:24:07,20000.0,DEPOSIT,0,0.0
2,01/12/2017,0,5921,NaN,810,05DEC17:00:00:00,767.0,POS,0,0.0
3,01/10/2017,0,5411,NaN,810,21OCT17:00:00:00,2031.0,POS,0,0.0
4,01/10/2017,0,6012,NaN,810,24OCT17:13:14:24,36562.0,C2C_OUT,0,0.0

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490513 entries, 0 to 490512
Data columns (total 10 columns):
PERIOD          490513 non-null object
cl_id           490513 non-null int64
MCC             490513 non-null int64
channel_type    487603 non-null object
currency        490513 non-null int64
TRDATETIME      490513 non-null object
amount          490513 non-null float64
trx_category    490513 non-null object
target_flag     490513 non-null int64
target_sum      490513 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 37.4+ MB

In [4]:
print("Total clients: ", len(raw_df.cl_id.unique()))

Total clients:  5000

In [5]:
raw_df.cl_id.value_counts()

2143     784
5373     512
5630     501
4564     499
1261     485
5398     483
10       463
5847     463
757      439
985      415
1839     415
1814     406
1553     402
1176     397
581      387
532      383
1673     382
109      380
6204     377
3387     376
561      374
8215     372
10207    371
8274     368
4794     367
2853     361
3769     357
8794     357
7081     355
2208     353
        ...
3427       1
4502       1
4164       1
4705       1
4879       1
4353       1
4695       1
9225       1
8780       1
4760       1
7090       1
207        1
4301       1
4513       1
5352       1
8247       1
5539       1
5224       1
4611       1
2620       1
8242       1
243        1
4647       1
3416       1
5516       1
3650       1
2476       1
68         1
4728       1
2787       1
Name: cl_id, Length: 5000, dtype: int64

In [6]:
cl_ids_test = np.random.choice(raw_df.cl_id.unique(), size=1000, replace=False)
cl_ids_test_set = set(cl_ids_test)

In [7]:
# create transactions dataset for train
transactions_train = raw_df[~raw_df.cl_id.isin(cl_ids_test)].copy()
print("Total transactions in train dataset: ", len(transactions_train))
# create transactions dataset for test
transactions_test = raw_df[raw_df.cl_id.isin(cl_ids_test)].copy()
print("Total transactions in test dataset: ", len(transactions_test))

Total transactions in train dataset:  395718
Total transactions in test dataset:  94795

In [8]:
raw_df_grouped = raw_df[
    ['cl_id', 'amount', 'MCC']
].groupby(['cl_id', 'MCC']).agg(['sum', 'count'])

# aggregated_dataset = raw_df_grouped.unstack().fillna(0)
aggregated_dataset = raw_df_grouped.unstack()

In [9]:
aggregated_dataset.head()

      amount                                              ...              \
         sum                                              ...  count
MCC     742  763  780  1520 1711 1731 1750 1799 2741 2842 ...   8699 8911
cl_id                                                     ...
0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...    NaN  NaN
1        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...    NaN  NaN
5        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...    NaN  NaN
9        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...    NaN  NaN
10       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...    NaN  NaN



MCC   8931 8999 9211 9222 9311 9399 9402 9405
cl_id
0      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1      NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN
5      NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN
9      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10     NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 688 columns]

In [10]:
raw_df.MCC.value_counts()

5411    121640
6011     54382
5814     41351
5812     30027
5499     27237
5541     19816
5912     18728
5999     13073
6012     10056
5921      8578
5331      7641
4121      6266
5211      6262
4829      6205
5691      5161
5261      4803
4111      4362
5977      4300
5200      3460
5732      3271
5311      3258
5533      2946
5651      2915
4812      2857
5641      2710
8099      2674
5722      2667
5661      2601
8999      2599
5941      2597
         ...
3064         1
3678         1
8675         1
3548         1
3607         1
3730         1
3029         1
3535         1
3722         1
7333         1
7339         1
3387         1
3715         1
3508         1
3640         1
3513         1
3515         1
3191         1
5937         1
3634         1
3520         1
7217         1
3659         1
3628         1
3778         1
5960         1
3625         1
7211         1
7631         1
3703         1
Name: MCC, Length: 344, dtype: int64

In [15]:
raw_df.trx_category.value_counts()

POS               416425
DEPOSIT            21216
WD_ATM_ROS         19104
WD_ATM_PARTNER      9948
C2C_IN              7306
WD_ATM_OTHER        7140
C2C_OUT             5456
BACK_TRX            2687
CAT                 1197
CASH_ADV              34
Name: trx_category, dtype: int64

In [12]:
def transaction_by_day_count(dataset):
    dataset['day_of_transaction'] = dataset['TRDATETIME'].apply( lambda x: (datetime.datetime.strptime(x, '%d%b%y:%H:%M:%S')).strftime('%w') ) 
    tmp_df = dataset.groupby(['cl_id','day_of_transaction'])['day_of_transaction'].size().unstack().fillna(0).reset_index()
    old_columns = [old_col for old_col in tmp_df.columns.tolist() if old_col in dataset['day_of_transaction'].unique()]
    tmp_df.rename(columns={old_col: 'day_' + old_col for old_col in old_columns}, inplace=True)
    return tmp_df
    
    

def transaction_by_hour_count(dataset):
    dataset['hour_of_transaction'] = dataset['TRDATETIME'].apply( lambda x: (datetime.datetime.strptime(x, '%d%b%y:%H:%M:%S')).strftime('%H') ) 
    return dataset.groupby(['cl_id','hour_of_transaction'])['hour_of_transaction'].size().unstack().fillna(0).reset_index()

In [13]:
transaction_by_day_count(raw_df)

day_of_transaction  cl_id  day_0  day_1  day_2  day_3  day_4  day_5  day_6
0                       0    0.0    0.0    2.0    0.0    1.0    0.0    2.0
1                       1    7.0   20.0   20.0   16.0   16.0   10.0   15.0
2                       5   15.0   19.0   19.0   15.0   25.0   24.0   25.0
3                       9    5.0    8.0    7.0    5.0    6.0    4.0    4.0
4                      10   74.0   35.0   62.0   68.0   65.0   57.0  102.0
5                      11   28.0   29.0   30.0   25.0   40.0   40.0   25.0
6                      14   14.0   22.0   12.0   15.0   30.0   39.0    4.0
7                      20    6.0   10.0   15.0   13.0   22.0    7.0    4.0
8                      21   22.0    6.0   13.0   18.0   16.0   36.0   13.0
9                      22   15.0    6.0    0.0    1.0   12.0   11.0   14.0
10                     23    3.0    8.0   11.0    9.0    6.0   10.0    4.0
11                     24    0.0    3.0    3.0    1.0    0.0    4.0    0.0
12                     25    0.0    1.0    4.0    4.0    3.0    0.0    0.0
13                     28    8.0   17.0   14.0   11.0    8.0   11.0    6.0
14                     29   13.0   43.0   14.0   20.0   37.0   19.0   21.0
15                     31   13.0   16.0   14.0   11.0   19.0   22.0   12.0
16                     32   27.0   21.0   21.0   19.0   14.0   15.0   16.0
17                     35   54.0   26.0   21.0   21.0   30.0   38.0   35.0
18                     38    4.0    0.0    0.0    2.0    2.0    0.0    4.0
19                     39   15.0   11.0   11.0   12.0   10.0   12.0   12.0
20                     41    3.0   16.0   29.0   21.0   14.0   22.0   11.0
21                     42   31.0   37.0   43.0   38.0   37.0   31.0   35.0
22                     46    7.0   16.0   23.0   12.0   14.0   21.0    9.0
23                     48    6.0   17.0   11.0   21.0   27.0   24.0    2.0
24                     49   16.0   18.0    9.0   13.0   18.0    8.0    8.0
25                     50   10.0    3.0    3.0    6.0    8.0    8.0    9.0
26                     52    0.0    1.0    2.0    5.0    5.0    3.0    3.0
27                     54   16.0   24.0   31.0   20.0   30.0   24.0   22.0
28                     55   23.0   16.0   17.0   14.0   19.0   19.0   12.0
29                     56    0.0    8.0    4.0    6.0    7.0   14.0    1.0
...                   ...    ...    ...    ...    ...    ...    ...    ...
4970                10162    9.0   25.0   21.0   23.0   19.0   24.0    6.0
4971                10163    8.0   19.0   26.0   24.0   32.0   27.0   30.0
4972                10164    0.0    0.0    1.0    3.0    3.0    3.0    1.0
4973                10166   13.0   18.0   10.0    5.0    4.0   10.0   10.0
4974                10167   18.0   15.0   20.0   22.0   33.0   36.0   27.0
4975                10168    3.0    2.0    4.0    3.0    6.0   14.0    3.0
4976                10169   11.0   12.0   10.0    7.0   20.0    9.0    9.0
4977                10170    0.0   11.0    1.0    2.0   13.0   15.0    0.0
4978                10171   16.0    3.0   19.0    9.0   14.0   10.0    9.0
4979                10175    0.0    2.0    5.0    6.0    1.0    1.0    0.0
4980                10176    0.0    4.0    1.0    5.0    1.0    2.0    2.0
4981                10177   22.0   15.0   17.0   16.0   16.0   10.0   18.0
4982                10180    0.0    0.0    9.0    0.0    0.0   11.0    0.0
4983                10181   22.0   23.0   23.0   30.0   19.0   35.0   25.0
4984                10184    3.0    7.0    3.0    5.0    7.0    7.0   14.0
4985                10185    2.0    7.0    7.0    8.0    9.0   10.0    8.0
4986                10186   21.0   19.0   28.0   25.0   22.0   22.0   32.0
4987                10188    2.0    0.0    1.0    1.0    5.0    1.0    3.0
4988                10190    0.0    0.0    2.0    2.0    2.0    0.0    0.0
4989                10192    1.0    3.0    1.0    1.0    7.0    3.0    8.0
4990                10193    5.0    0.0    0.0    1.0    2.0    0.0    4.0
4991                10202    0.0    2.0    4.0    6.0    1.0    1.0    0.0
4992                10203   16.0   13.0   13.0   14.0   17.0   16.0   13.0
4993                10206    4.0    7.0    3.0    6.0    9.0    4.0    7.0
4994                10207   31.0   69.0   73.0   86.0   60.0   28.0   24.0
4995                10210   16.0   15.0   16.0   31.0   13.0   10.0   13.0
4996                10212    0.0    1.0    2.0    2.0    9.0    0.0    0.0
4997                10213    6.0   13.0   13.0   14.0   15.0   10.0    3.0
4998                10214   15.0   15.0   14.0    7.0    9.0   15.0   32.0
4999                10215    0.0    1.0    7.0    2.0    3.0    9.0    2.0

[5000 rows x 8 columns]

In [14]:
transaction_by_hour_count(raw_df)

hour_of_transaction,cl_id,00,01,02,03,04,05,06,07,08,...,14,15,16,17,18,19,20,21,22,23
0,0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,101.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0
2,5,124.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,4.0,5.0,2.0,0.0,0.0,0.0,0.0
3,9,7.0,1.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,2.0,1.0,2.0,0.0,1.0,1.0,0.0,3.0
4,10,299.0,3.0,6.0,8.0,14.0,9.0,19.0,17.0,13.0,...,6.0,3.0,4.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0
5,11,207.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,1.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0
6,14,132.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,20,74.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,21,116.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
9,22,39.0,0.0,3.0,3.0,0.0,1.0,3.0,3.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,23,36.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,1.0,2.0,1.0,0.0,2.0,1.0,0.0
11,24,9.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,25,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,28,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0
14,29,160.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,31,106.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,32,123.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0
17,35,207.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,2.0,4.0,2.0,0.0,0.0,0.0,0.0
18,38,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,39,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,3.0,1.0,5.0,1.0,0.0,0.0,1.0
20,41,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,2.0,1.0,0.0,2.0,3.0,0.0,0.0,1.0
21,42,190.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,3.0,4.0,12.0,3.0,7.0,1.0,0.0,3.0,0.0,0.0
22,46,82.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,...,1.0,2.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0
23,48,85.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,3.0,4.0,2.0,1.0,0.0,0.0,7.0,1.0
24,49,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
25,50,42.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
26,52,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
27,54,157.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
28,55,119.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,56,6.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,10162,125.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4971,10163,159.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0
4972,10164,5.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4973,10166,67.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4974,10167,153.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,2.0,3.0,2.0,1.0,1.0,2.0
4975,10168,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4976,10169,53.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,9.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4977,10170,33.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4978,10171,67.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
4979,10175,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4980,10176,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4981,10177,99.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,2.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0
4982,10180,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,0.0
4983,10181,165.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4984,10184,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4985,10185,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4986,10186,162.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0
4987,10188,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4988,10190,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4989,10192,17.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4990,10193,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4991,10202,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4992,10203,99.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4993,10206,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
4994,10207,311.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,4.0,7.0,1.0,10.0,4.0,0.0,0.0,0.0,2.0,0.0
4995,10210,100.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,10212,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,10213,63.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,...,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4998,10214,107.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,10215,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
raw_df_linear=raw_df[
    ['cl_id', 'amount', 'trx_category','target_flag']
].groupby(['cl_id', 'trx_category', 'target_flag']).agg(['sum', 'count']).head(60)

In [57]:
raw_df_linear

                                      amount
                                         sum count
cl_id trx_category   target_flag
0     C2C_OUT        0              36562.00     1
      DEPOSIT        0              20000.00     1
      POS            0               7821.00     3
1     DEPOSIT        0              95000.00     2
      POS            0             122578.04   101
      WD_ATM_ROS     0              50000.00     1
5     BACK_TRX       1              13990.00     1
      C2C_OUT        1              33878.38     8
      DEPOSIT        1             130000.00     4
      POS            1             290500.75   111
      WD_ATM_OTHER   1               5500.00     2
      WD_ATM_PARTNER 1               6000.00     2
      WD_ATM_ROS     1              66500.00    14
9     C2C_IN         0             296950.00     3
      DEPOSIT        0               5000.00     1
      POS            0              12365.09    29
      WD_ATM_PARTNER 0             100000.00     1
      WD_ATM_ROS     0             435000.00     5
10    C2C_IN         0              10000.00     1
      C2C_OUT        0              21692.90    19
      CAT            0              37694.98     3
      DEPOSIT        0             426300.00    24
      POS            0             200956.11   374
      WD_ATM_PARTNER 0               5400.00     3
      WD_ATM_ROS     0             422300.00    39
11    DEPOSIT        0             182000.00    10
      POS            0             245747.14   207
14    C2C_IN         1             152700.00     3
      POS            1             258990.17   132
      WD_ATM_ROS     1              37000.00     1
20    DEPOSIT        0             215000.00     3
      POS            0             222308.09    74
21    BACK_TRX       0               2777.00     1
      C2C_IN         0               4001.00     2
      DEPOSIT        0             112000.00     8
      POS            0             220103.65   113
22    CAT            0                500.00     2
      DEPOSIT        0             122600.00     8
      POS            0             110267.00    45
      WD_ATM_OTHER   0               3000.00     1
      WD_ATM_PARTNER 0               9900.00     2
      WD_ATM_ROS     0               3500.00     1
23    C2C_IN         1              14500.00     2
      C2C_OUT        1              12500.00     2
      DEPOSIT        1              95000.00     2
      POS            1              11969.80    34
      WD_ATM_PARTNER 1              31000.00     5
      WD_ATM_ROS     1              35500.00     6
24    C2C_IN         1               2000.00     1
      DEPOSIT        1              53000.00     1
      POS            1              58185.76     9
25    C2C_IN         1             125000.00     2
      POS            1              11400.00     7
      WD_ATM_OTHER   1            1035000.00     1
      WD_ATM_ROS     1             300000.00     2
28    C2C_OUT        1              15100.00     3
      DEPOSIT        1               2500.00     1
      POS            1              94893.49    65
      WD_ATM_ROS     1              56000.00     6
29    DEPOSIT        1             149500.00     6

In [59]:
raw_df.target_flag.value_counts(normalize = True)

1    0.652588
0    0.347412
Name: target_flag, dtype: float64

In [61]:
from sklearn.linear_model import LinearRegression

def linear_regression(raw_df_linear, power, models_to_plot):
    # predictors:
    predictors=['x']
    if power >= 2:
        predictors.extend(['x_%d' % i for i in range(2, power + 1)])
    
    # fit
    linreg = LinearRegression(normalize=True)
    linreg.fit(data[predictors], data['y'])
    y_pred = linreg.predict(data[predictors])
    
    # models to plot
    if power in models_to_plot:
        plt.subplot(models_to_plot[power])
        plt.tight_layout()
        plt.plot(data['x'], y_pred)
        plt.plot(data['x'], data['y'], '.')
        plt.title('Plot for power: %d' % power)
    
    # Return the result in pre-defined format
    rss = sum((y_pred - data['y']) ** 2)
    ret = [rss]
    ret.extend([linreg.intercept_])
    ret.extend(linreg.coef_)
    return ret